@import './base.css';
@import './header.css';
@import './options.css';

body {
  display: flex;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  padding: 20px;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
