@import '../assets/main.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
  background-color: #0f0f0fe6;
  width: 100%;
}
